<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" type = 'text/css' href="../public/styles/Notes_style.css">
</head>
<body>
    <div class="container">
        <h1><img src="../public/images/note.png">Notes</h1>
        <button class="btn"><img src="../public/images/edit.png">Create a Note</button>
        <div class="notes_container">
            
        </div>
    </div>
<script src="../public/script/Notes_script.js"></script>
</body>
</html>